<div class="container-fluid">
    <div class="row">
        <div class="text-head mt-lg-15" style="text-align: center;">
            <h2 style="font-weight: bold;">關於我們</h2>
        </div>
        <div class="col-lg-2">
            <img class="img-fluid" src="~/圖片/aboutus/星空鯨魚.png" style="transform: rotateY(180deg);">
        </div>
        <div class="col-12 col-lg-8 mt-lg-15 ms-auto" style="max-width: 100%;">
            <div style="text-align: center;">
                <textarea rows="16"
                          style="max-width: 100%;font-size: 20px;max-height: 100vh;width: 60%;background-color: rgba(168, 172, 175, 0.671);text-align: center;padding: 4% 10%;font-weight: bold;">
空間理念


    Elysian：取至希臘語Ēlýsion，象徵者至福樂土、極樂世界，旨在提供一塊世間淨土，找回內心的平靜。


    Wave：情緒似浪，有者寧靜祥和的一面，卻也有暗流湧動的時刻。


    Whale：鯨魚大海與浪潮中的自由智慧生物，象徵著希望人們能以平和且智慧的心態看待自己的情緒。


     在Elysian的空間裡，夥伴們即將化身為深海裡的鯨魚，傾聽與感受情緒的浪潮，平靜地享受及接納自己的情緒，在寧靜與激流間自在遨遊。據說鯨魚會發出宛若天籟的歌聲，與遠在百里之外的同伴交流，象徵著小鯨魚也能打破桎梏，與每一位有趣的夥伴分享自己的體會與意境，讓浪傳遞，最終成長為自己所愛的樣子，共同棲息在這塊如無垠天空及浩瀚海洋般的極樂淨土。
                    </textarea>
            </div>
        </div>
        <div class="col-lg-2 mt-5">
            <img class="img-fluid" src="~/圖片/aboutus/鯨魚1.png">
        </div>
    </div>
</div>